@{
    ViewBag.Title = "Home Page";
}

<main>
    <section>
        <div class="container text-center my-4">
            <h2 class="display-4 mt-4">Welcome to Visitalia!</h2>
            <p class="lead">
                In this site you will find the best travel tours and make reservations for Italy.
                Discover information about the culture, cuisine, scenes, cities and history.
            </p>
        </div>
        <hr />
        <!-- Our Memories Image Slide -->
        <div class="image-slide">
            <h2 class="display-5 mt-4 text-danger">Our Memories</h2>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide shadow"> <img src="~/Images/Memories/DSCF8252.jpg"> </div>
                    <div class="swiper-slide shadow"> <img src="~/Images/Memories/download (1) (1).jpeg"> </div>
                    <div class="swiper-slide shadow"> <img src="~/Images/Memories/download (2) (1).jpeg"> </div>
                    <div class="swiper-slide shadow"> <img src="~/Images/Memories/download (3) (1).jpeg"> </div>
                    <div class="swiper-slide shadow"> <img src="~/Images/Memories/download (4).jpeg"> </div>
                    <div class="swiper-slide shadow"> <img src="~/Images/Memories/image_2024_12_15T12_56_27_977Z.png"> </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </section>

    <br /><br /><br />
    <hr />

    <section class="container text-center my-4">
        <h2 class="display-4 mt-4 text-danger">Why Italy?</h2>
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="~/Images/Home/Italy culinary.png" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 homeheaders">Italy is home to one of the most diverse and rich culinary traditions in the world.</h1>
                    <p class="lead">Tasting authentic pizza, pasta, and gelato, enjoying wine tours in Tuscany’s famous vineyards, and savoring local delights like tiramisu and risotto make for an unforgettable gastronomic journey.</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="~/Images/Home/kolezyum-roma.jpg" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6 home">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 homeheaders">For history enthusiasts, Italy is like an open-air museum. </h1>
                    <p class="lead">Iconic landmarks such as the Colosseum in Rome, the Duomo and Uffizi Gallery in Florence, and St. Mark’s Square in Venice take you on a journey through time. Walking through the preserved streets of Pompeii feels like stepping into a time capsule.</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="~/Images/Home/Manzara.png" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 homeheaders">Italy also mesmerizes visitors with its stunning natural landscapes.</h1>
                    <p class="lead">From the rolling hills of Tuscany to the breathtaking coastal views of the Amalfi Coast, every corner is a visual masterpiece. The serene atmosphere of Lake Como and the majestic Alps offer experiences for every nature lover, no matter the season.</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="~/Images/Home/Tekne Turu.jpeg" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 homeheaders">The activities Italy offers are just as diverse as its landscapes.</h1>
                    <p class="lead">Gondola rides in Venice, cycling through vineyards in Tuscany, skiing in the Alps, or nighttime strolls through Rome’s enchanting streets are just a few of the many ways to enjoy the country.</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="~/Images/Home/Heykel.jpg" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 homeheaders">When it comes to art and culture, Italy stands unparalleled.</h1>
                    <p class="lead">Masterpieces such as Michelangelo’s David, the frescoes of the Sistine Chapel, and works by Leonardo da Vinci provide art enthusiasts with unparalleled inspiration. Traditional events like the Venice Carnival or the Palio in Siena further highlight Italy’s vibrant cultural heritage.</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="~/Images/Home/Akdeniz.jpg" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 homeheaders">Italy is more than a place to visit—it’s a sensory adventure that stays with you forever.</h1>
                    <p class="lead">Finally, the warm hospitality of the Italian people and the Mediterranean spirit that permeates every corner of the country make it an inviting and unforgettable destination.</p>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <section>
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <a href="/Home/TourList">
                        <img src="~/Images/Home/Italymap.jpeg" class="d-block mx-lg-auto img-fluid custom-border" width="700" height="500" loading="lazy">
                    </a>
                </div>
                <form class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 homeheaders">Where would you like to start?</h1>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <select class="btn btn-outline-danger" id="citySelect">
                                <option value="0">Choose a city</option>
                                @foreach (var Tours in Model)
                                {
                                    <option value="@Tours.ID">@Tours.Location</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-outline-danger" onclick="selectCity()">Select</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>